pkgbase = ayugram-desktop-bin
	pkgdesc = Desktop Telegram client with good customization and Ghost mode built by Andontie AUR
	pkgver = 5.11.1
	pkgrel = 1
	url = https://github.com/AyuGram/AyuGramDesktop
	arch = x86_64
	license = GPL3
	makedepends = chrpath
	depends = hunspell
	depends = ffmpeg
	depends = hicolor-icon-theme
	depends = lz4
	depends = minizip
	depends = openal
	depends = qt6-imageformats
	depends = qt6-svg
	depends = qt6-wayland
	depends = xxhash
	depends = rnnoise
	depends = pipewire
	depends = libxtst
	depends = libxrandr
	depends = libxcomposite
	depends = libxdamage
	depends = abseil-cpp
	depends = libdispatch
	depends = openssl
	depends = protobuf
	depends = glib2
	depends = libsigc++-3.0
	depends = kcoreaddons
	depends = ada
	depends = openh264
	optdepends = webkit2gtk: embedded browser features
	optdepends = xdg-desktop-portal: desktop integration
	provides = ayugram-desktop
	conflicts = ayugram-desktop
	source = https://aur.andontie.net/x86_64/ayugram-desktop-5.11.1-1-x86_64.pkg.tar.zst
	sha256sums = e474b11c17b8165777b80ae5b4a660882c5b4bada97dd5dfbde8f5b33f91e55b

pkgname = ayugram-desktop-bin
