pkgbase = ayugram-desktop-bin
	pkgdesc = Desktop Telegram client with good customization and Ghost mode built by Andontie AUR
	pkgver = 5.12.3
	pkgrel = 7
	url = https://github.com/AyuGram/AyuGramDesktop
	arch = x86_64
	license = GPL3
	makedepends = chrpath
	depends = hunspell
	depends = ffmpeg
	depends = hicolor-icon-theme
	depends = lz4
	depends = minizip
	depends = openal
	depends = qt6-imageformats
	depends = qt6-svg
	depends = qt6-wayland
	depends = xxhash
	depends = rnnoise
	depends = pipewire
	depends = libxtst
	depends = libxrandr
	depends = libxcomposite
	depends = libxdamage
	depends = abseil-cpp
	depends = libdispatch
	depends = openssl
	depends = protobuf
	depends = glib2
	depends = libsigc++-3.0
	depends = kcoreaddons
	depends = ada
	depends = openh264
	depends = jemalloc
	optdepends = webkit2gtk: embedded browser features
	optdepends = xdg-desktop-portal: desktop integration
	provides = ayugram-desktop
	conflicts = ayugram-desktop
	source = https://github.com/rsg245/ayugram-desktop-bin-arch/releases/download/5.12.3-7/ayugram-desktop-5.12.3-7-x86_64.pkg.tar.zst
	sha256sums = 716caa03d0292d9aa898a8aa5fc23ee37e5bd86b4c9da2d0546195513a5e4c43

pkgname = ayugram-desktop-bin
