pkgbase = ayugram-desktop-bin
	pkgdesc = Desktop Telegram client with good customization and Ghost mode
	pkgver = 5.16.4
	pkgrel = 2
	url = https://github.com/AyuGram/AyuGramDesktop
	arch = x86_64
	license = GPL3
	makedepends = chrpath
	depends = hunspell
	depends = ffmpeg
	depends = hicolor-icon-theme
	depends = lz4
	depends = minizip
	depends = openal
	depends = qt6-imageformats
	depends = qt6-svg
	depends = qt6-wayland
	depends = xxhash
	depends = rnnoise
	depends = pipewire
	depends = libxtst
	depends = libxrandr
	depends = libxcomposite
	depends = libxdamage
	depends = abseil-cpp
	depends = libdispatch
	depends = openssl
	depends = protobuf
	depends = glib2
	depends = libsigc++-3.0
	depends = kcoreaddons
	depends = ada
	depends = openh264
	depends = jemalloc
	depends = libavif
	depends = libheif
	optdepends = webkit2gtk: embedded browser features
	optdepends = xdg-desktop-portal: desktop integration
	provides = ayugram-desktop
	conflicts = ayugram-desktop
	source = https://github.com/rsg245/ayugram-desktop-bin-arch/releases/download/5.16.4-2/ayugram-desktop-5.16.4-2-x86_64.pkg.tar.zst
	sha256sums = 8da47294a0cfeee49c2d09e55ce391927434454b3312fd62d813154caca95b6a

pkgname = ayugram-desktop-bin
